package.json
jsconfig.json
./jsconfig.json
*/jsconfig.json
./js-codemode
./js-codemode/*
./logs
./logs/*
./docker
./docker/*
coverage/*
./coverage
./coverage/*
./assets
./assets/*
./tmp
./tmp/*
./node_modules
./node_modules/*
./config
./config/*
./docs
./docs/*
docs/*
test/.eslintrc.js
./test/.eslintrc.js
./dist
./dist/*
dist/*
