//registry.npmjs.org/:_authToken=caa2f3a9-aaa2-42b0-854f-4e070bb5314d
@teemo.js-node:registry=https://registry.npmjs.org/
access=public
init.author.email=teemojs2021@gmail.com
init.author.name=teemojs
init.license=ISC
