//registry.npmjs.org/:_authToken=f839f5ca-794c-48a9-b166-edb16083a38b
@teemo.js:registry=https://registry.npmjs.org/
access=public
init.author.email=teemojs2021@gmail.com
init.author.name=teemojs
init.license=ISC
