//registry.npmjs.org/:_authToken=7d9551dd-6dc4-41d5-86b4-31bd7dc74617
@teemo.js:registry=https://registry.npmjs.org/
access=restricted
init.author.email=teemojs2021@gmail.com
init.author.name=teemo.js
init.license=ISC
